from __future__ import annotations

from bootstrap import build_container
from {{ context_name }}.{{ aggregate_module }}.application.{{ aggregate_name }}_service import (
    {{ aggregate_name | capitalize }}Service,
)

_container = build_container()


def {{ aggregate_name }}_service() -> {{ aggregate_name | capitalize }}Service:
    return _container.{{ aggregate_name }}_service
