from __future__ import annotations

from dataclasses import dataclass

from commons.types.clock import Clock
from commons.types.event_bus import EventBus
from commons.types.unit_of_work import UnitOfWork

{% set aggregate_import %}from {{ context_name }}.{{ aggregate_module }}.domain.model.{{ aggregate_name }} import (
    {{ aggregate_name | capitalize }},
    {{ aggregate_name | capitalize }}Id,
)
{% endset %}{% set ports_import %}from {{ context_name }}.{{ aggregate_module }}.domain.model.ports import (
    {{ aggregate_name | capitalize }}Repository,
)
{% endset %}{# isort orders these two by module path, so their order depends on the aggregate's name #}{% if aggregate_name < "ports" %}{{ aggregate_import }}{{ ports_import }}{% else %}{{ ports_import }}{{ aggregate_import }}{% endif %}

@dataclass(frozen=True)
class Create{{ aggregate_name | capitalize }}:
    name: str


class {{ aggregate_name | capitalize }}Service:
    def __init__(
        self,
        uow: UnitOfWork,
        repository: {{ aggregate_name | capitalize }}Repository,
        clock: Clock,
        bus: EventBus,
    ) -> None:
        self._uow = uow
        self._repository = repository
        self._clock = clock
        self._bus = bus

    def create_{{ aggregate_name }}(
        self,
        command: Create{{ aggregate_name | capitalize }},
    ) -> {{ aggregate_name | capitalize }}Id:
        with self._uow:
            {{ aggregate_name }}_id = {{ aggregate_name | capitalize }}Id(
                value=self._repository.next_identity(),
            )
            {{ aggregate_name }} = {{ aggregate_name | capitalize }}.create(
                id={{ aggregate_name }}_id,
                name=command.name,
                occurred_at=self._clock.now(),
            )
            self._repository.add({{ aggregate_name }})
            self._uow.track({{ aggregate_name }})
            self._uow.commit()
        self._bus.publish_all(self._uow.collect_new_events())
        return {{ aggregate_name }}_id
