from __future__ import annotations

from abc import ABC, abstractmethod

from {{ context_name }}.{{ aggregate_module }}.domain.model.aggregate import (
    {{ aggregate_name | capitalize }},
    {{ aggregate_name | capitalize }}Id,
)


class {{ aggregate_name | capitalize }}Repository(ABC):
    @abstractmethod
    def next_identity(self) -> str: ...
    @abstractmethod
    def add(self, {{ aggregate_name }}: {{ aggregate_name | capitalize }}) -> None: ...
    @abstractmethod
    def get(self, {{ aggregate_name }}_id: {{ aggregate_name | capitalize }}Id) -> {{ aggregate_name | capitalize }}: ...
